version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: postgres-db

    env_file:
      - ".env"

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql

    restart: unless-stopped

volumes:
  postgres_data:
